nav{
    width: 15%;
    height: $sizePar*6;
    background: linear-gradient($secondColor, white); 
    float: left;
    h2{
        text-align: center;
        color: $mainColor;
        padding: $sizePar/2 0;
    }
    li{
        margin: $sizePar/10;
    }
    a{
        @extend %base-class;
        
    }
}